# 统一换行符：源码按仓库存储，避免 Windows/CI 换行差异
* text=auto

# shell 脚本必须保持 LF，否则 CI 上 bash 执行失败
gradlew text eol=lf
gradlew.bat text eol=crlf

# 二进制资源不转换
*.wav binary
*.jar binary
